.leftBar {
  background-color: #19335a;
  height: 100%;
  width: 4vw;
  border-radius: 6px;
  position: absolute;
  position: fixed;
}

.leftBar .leftBarelements {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.leftBar .leftBarelements .listOfElements {
  margin-top: -30px;
}
.leftBar .leftBarelements .listOfElements .element {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin: 6px;
  color: #19335a;
  transition: all 0.7s;
  cursor: pointer;
  position: relative;
}
.leftBar .leftBarelements .element:hover {
  background-color: #536b8f;
  background-color: goldenrod;
}
.leftBar .leftBarelements .listOfElements .element label {
  transition: all 0.7s;
}
.leftBar .leftBarelements .listOfElements .element:hover label {
  color: white;
}
.leftBar .leftBarelements .listOfElements .element:hover .MuiSvgIcon-root {
  color: white;
}
.leftBar .leftBarelements .listOfElements .element .MuiSvgIcon-root {
  color: white;
  width: 34px;
  height: 38px;
  transition: all 0.7s;
}

.leftBar .element p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.leftBar .leftBarelements .exit {
  position: absolute;
  bottom: 2px;
  left: auto;
  right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  height: 40px;
  cursor: pointer;
  margin: 6px;
  transition: all 0.7s;
}

.leftBar .leftBarelements .exit .MuiSvgIcon-root {
  color: white;
  width: 34px;
  height: 38px;
}
.leftBar .element:hover .myTag {
  font-size: 16px;
  position: absolute;
  left: 60px;
  transition: all 0.7s;
  background-color: goldenrod;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
}
.leftBar .myTag {
  font-size: 16px;
  position: absolute;
  left: 60px;
  transition: all 0.7s;
  display: none;
  background-color: goldenrod;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}
